<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ee-email-elastic/src/main/java/ee/email/core/elastic/IndexControllerFactory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ee.email.core.elastic.IndexControllerFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="synchronize outlook ee.email.outlook.ApplicationFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ee-email-elastic"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DregExpFolderRecursion=&quot;.*(Eisler, Eugen|2010|2011|2012|2013|w).*&quot;&#13;&#10;-DregExpFolder=&quot;.*(Posteingang|Gesendete Elemente|Inbox|Sent Items).*&quot;"/>
</launchConfiguration>
